# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.element

# IDEs
.idea/
.vscode/
*.swp
*.swo
